/MyAnimeList.Net/bin/
/MyAnimeList.Net/obj/
/MyAnimeList.Net.Rest/bin/
/MyAnimeList.Net.Rest/obj/
/MyAnimeList.Net.API.Abstractions/bin/
/MyAnimeList.Net.API.Abstractions/obj/
/MyAnimeList.Net.API/obj/
/MyAnimeList.Net.API/bin/
/MyAnimeList.Net.AnimeExamples/obj/
/MyAnimeList.Net.AnimeExamples/bin/
.idea
Backup

MyAnimeList.AnimeExamples/obj/
MyAnimeList.AnimeExamples/bin/
MyAnimeList.AnimeExamples/credentials.txt
